<p id="notice"><%= notice %></p>

<nav>
  <div class=navbar-title-container>
    <h1 class="navbar-title">Książki na Clubhouse</h1>
    <p class="navbar-title__paragraph">&#128218; Zestawienie książek, o których słysze na pokojach podczas rozmów na Clubhouse.</p>
  </div>
</nav>
  <p id="notice"><%= notice %></p>
<main>
  <% if !user_signed_in? %>
  <div class="admin-page">
    <p><%= link_to "Admin Login", new_user_session_path  %></p>
  </div>
  <% else %>
  <p><%= link_to "Logout", destroy_user_session_path, :method => :delete %></p>
  <% end %>
  <div class="table-container">
    <table>
      <thead>
        <th>Autor</th>
        <th>Tytuł</th>
        <th>Okładka</th>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td><%= book.author %></td>
          <td><%= book.title %></td>
          <td><%= book.cover %></td>
          <% if user_signed_in? %>
          <td>
            <div class="controls">
              <p class="control">
                <button><%= link_to "Show", book %></button>
              </p>
              <p class="control">
                <button><%= link_to "Edit", edit_book_path(book) %></button>
              </p>
            </div>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>

<footer>
  <div class="footer-form-container">
    <div class="footer-form-form">
      <% unless user_signed_in? %>
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <p><%= f.label :email%></p>
          <p><%= f.text_field :email %></p>
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password %></p>
          <p><%= f.check_box :remember_me %></p>
          <p><%= f.label :remember_me %></p>
          <p><%= f.submit 'Sign in' %></p>
        <% end %>
        <% else %>
        <p><%= button_to "logout", destroy_user_session_path, method: :delete  %></p>
      <% end %>
    </div>
  </div>
</footer>